
  .header {
    
    margin-top: -50px;
    padding: 0px;
    margin-left: 200px; 
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-item {
    display: inline;
    margin-right: 10px;
    float: right;
    margin-left: 10px;
  }

  .nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
  }

  .twologo{
    display: flex;
    margin-top: 5%;
  }

  .muklogo1{
    width: 100px;
    align-items: center;
  }

  
  /* placing contents in the middle */
  .place{
      align-items: center; 
      justify-content: center; 
      text-align: center;
    }
//this is our styling sheet for our header section
//it includes styling for the nav-list,nav-item,the header
  
  
