.sidebar {
    /* background-color: #999; */
    height: 100%;
    width: 200px;
    position: fixed;
    display: inline;
    top: 0;
    left: 0;
    background-color: violet;
    padding-top: 20px;
    margin-right: 300%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    .hr{
      color:white;
    }

  }

  .ordered{
    background-color: aqua;
    display: inline;
    list-style-type: none;
    padding: 0;
    margin: 100%;
    
  }

  .ordered hr{
    color: white;
  }
  /* .listelements{
background-color:coral;
padding-bottom: 4%;
border-radius: 10px;
margin-bottom: 9%;
margin-left: 20%;
margin-right: 20%;
  } */

  .lists{
    margin-top: 10%;
    margin-top: 0%;
    font-size: smaller;
    
  }

  .list-items{
    margin-top: 0%;
    margin-bottom: 10%;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
  }
  
  .sidebar a:hover {
    /* background-color: #ddd; */
    color: white;
  }
  
  .sidebar hr {
    margin: 10px 0;
  }
  

  .sidebar i {
    margin-right: 10px;
  }
  
  .sidebar lists {
    margin-right: 20px;
    
  }
  
  .sidebar-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: white;
  }

  .dashboard{
    color: white;
    margin-left: 10%;
    font-size: large;
    padding: 10%;
  }

  

   /* .sidebar {
    width: 200px; 
    background-color: #333; 
    color: #fff;
  }
  
  .list-items {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
    cursor: pointer; 
  
   
    svg {
      margin-right: 10px; 
    }
  
    
    span {
      font-size: 16px;
    }
  } */